<div class="jumbotron">
    <h1>Domodi </h1>

    <p>Domodi is a home automation system for Z-wave Devices. It relies on AngularJS, NodeJS and MongoDB.</p>

    <p>{{nodeHello}}</p>

</div>

<div>
    <h2>Alerts <span class="badge">42</span></h2>
    <p>Display alerts raised by the system</p>
</div>


<div>
    <h2>Profiles</h2>
    <p>You can change the active profile here. A delay before change take effect can be applied.</p>

    <div class="btn-group">
        <label ng-repeat="profile in profiles" ng-change="changeProfile()" class="btn btn-default"
               ng-model="profileModel.selected"
               uib-btn-radio="'{{profile._id}}'">{{profile.name}}</label>
    </div>
    <img id="profileSpinner" src="/images/spinner-64.gif" style="width:50px;height:50px;display:none;"
         alt="Change in progress">
</div>


<div>
    <h2>Devices</h2>
    <p>List of your devices.</p>
    <div class="list-group">
        <a class="list-group-item" ng-repeat="device in devices">
            <h3 class="list-group-item-heading">{{device.name}}</h3>

            <p class="list-group-item-text">type: {{device.type}} </p>

            <p class="list-group-item-text">location: {{device.location}} </p>
        </a>
    </div>
</div>


<!-- Display camera image streaming-->
<!-- <img src="http://192.168.1.37/img/video.mjpeg"/> -->
