<div class="page-header">
    <h1>Domodi <small>Home automation system for Z-wave Devices. It relies on AngularJS, NodeJS and MongoDB.</small></h1>
    <p>{{nodeHello}}</p>
</div>


<div>
    <h2>Alerts <span class="badge">{{serverAlerts.length}}</span></h2>
    <p>Display alerts raised by the system</p>
    <uib-alert ng-repeat="alert in serverAlerts.slice(((alertsCurrentPage-1)*alertsItemPerPage), ((alertsCurrentPage)*alertsItemPerPage)) | orderBy: 'date':true " type="{{alert.type}}"  close="closeAlert($index)"><b>{{formatDate(alert.date)}} :</b> {{alert.message}}</uib-alert>

    <div class="row">
        <button type="button" ng-click="closeAllAlerts()" class="btn btn-default pull-right" ng-hide="serverAlerts.length == 0" aria-label="Left Align">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            Remove all
        </button>

    </div>

    <uib-pagination total-items="serverAlerts.length" ng-model="alertsCurrentPage" items-per-page="alertsItemPerPage" max-size="5" ng-hide="serverAlerts.length == 0" class="pagination-sm" boundary-links="false"></uib-pagination>

</div>


<div>
    <h2>Profiles</h2>
    <p>You can change the active profile here. A delay before change take effect can be applied.</p>

    <div class="btn-group">
        <label ng-repeat="profile in profiles" ng-change="changeProfile()" class="btn btn-default"
               ng-model="profileModel.selected"
               uib-btn-radio="'{{profile._id}}'">{{profile.name}}</label>
    </div>
    <img id="profileSpinner" src="/images/spinner-64.gif" style="width:50px;height:50px;display:none;"
         alt="Change in progress">
</div>


<div>
    <h2>Devices</h2>
    <p>List of your devices.</p>
    <div class="list-group">
        <a class="list-group-item" ng-repeat="device in devices">
            <h3 class="list-group-item-heading">{{device.name}}</h3>

            <p class="list-group-item-text">type: {{device.type}} </p>

            <p class="list-group-item-text">location: {{device.location}} </p>
        </a>
    </div>
</div>


<!-- Display camera image streaming-->
<!-- <img src="http://192.168.1.37/img/video.mjpeg"/> -->
