<div class="jumbotron">
    <h1>Domodi Home</h1>
    <h3> {{datetime}}</h3>
    <h3>{{nodeHello}}</h3>
</div>


<div class="btn-group">
    <h2> Select profile : </h2>
    <label ng-repeat="profile in profiles" ng-change="changeProfile()" class="btn btn-primary"
           ng-model="profileModel.selected"
           uib-btn-radio="'{{profile._id}}'">{{profile.name}}</label>
    <img id="profileSpinner" src="/images/spinner-64.gif"  style="width:50px;height:50px;display:none;" alt="Change in progress">
</div>

<div>
    <h2>Liste des équipements : </h2>

    <div ng-repeat="device in devices"><h3>{{device.name}} </h3>  <b> type: </b> {{device.type}} <b>location: </b>
        {{device.location}}
    </div>


</div>


<!-- Display camera image streaming-->
<!-- <img src="http://192.168.1.37/img/video.mjpeg"/> -->
